#toast {
  text-align: center;
  height: 40px;
  background-color: #8CACAA;
  line-height: 3;
  color: white;
  opacity: 0.8; }

.brand-logo {
  margin-left: 20px;
  position: relative; }
  .brand-logo span {
    position: absolute;
    top: 4px;
    left: 60px; }

.headNav li {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 20px; }
  .headNav li:hover {
    letter-spacing: 1px; }
  .headNav li i {
    padding: 0px 9px; }

.headNav .contact i {
  float: left; }

.headNav .contact a {
  padding: 0px; }

.search {
  margin: 10px;
  display: inline-block;
  width: 30%;
  position: relative; }
  .search label {
    position: absolute;
    top: 10px; }
  .search input {
    padding-left: 30px; }

.addBtn {
  margin-left: 30px; }

body {
  background-color: #F4F4F4;
  -webkit-transition-property: all;
          transition-property: all;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out; }

main {
  margin: 20px; }

.task.col {
  padding: 0px 5px; }

.task .card {
  min-width: 250px;
  margin: 8px;
  width: 100%; }
  .task .card:hover {
    background-color: #F2FFF6; }
  .task .card .card-header {
    margin: -15px 0px; }
    .task .card .card-header .card-id {
      color: #8CACAA; }
    .task .card .card-header .deleteBtn {
      color: #B2DFDB; }
    .task .card .card-header .copyBtn {
      color: #8CACAA;
      padding-right: 9px; }
  .task .card .card-title {
    font-weight: bold;
    padding-top: 12px;
    margin: 0px;
    color: gray;
    font-size: 18px; }
  .task .card .card-time {
    color: gray;
    font-size: 18px; }
    .task .card .card-time i {
      vertical-align: top;
      font-size: 24px;
      padding: 0px 5px 0px 0px; }
  .task .card .card-comment {
    color: gray;
    height: 45px;
    position: relative; }
    .task .card .card-comment i {
      position: absolute;
      font-size: 19px;
      font-weight: bold;
      top: 4px;
      left: 2px; }
    .task .card .card-comment input {
      width: 80%;
      position: absolute;
      top: -6px;
      left: 30px; }
  .task .card .card-footer {
    color: #B2DFDB;
    font-size: 11px; }
    .task .card .card-footer input {
      height: 20px;
      margin: 0px;
      width: 20%;
      text-align: center; }
    .task .card .card-footer p {
      text-align: right; }

.sashWrap {
  position: absolute;
  overflow: hidden;
  top: 0px;
  left: 0px;
  width: 150px;
  height: 80px; }

.sash {
  position: absolute;
  z-index: 5;
  top: 0px;
  left: -50px;
  width: 150px;
  padding: 0px 0px 0px 57px;
  letter-spacing: 3px;
  background: coral;
  color: white;
  font-size: 12px;
  font-weight: bold;
  -webkit-transform: rotate(-26deg);
      -ms-transform: rotate(-26deg);
          transform: rotate(-26deg); }

.task .card.active {
  color: coral;
  background-color: #E5FFE6; }
  .task .card.active .card-time {
    color: coral;
    letter-spacing: 10px;
    -webkit-transition-property: all;
            transition-property: all;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out; }

.modal {
  color: gray; }
  .modal h4 {
    font-size: 20px;
    color: gray;
    margin: 0px; }
  .modal .APIKey input {
    width: 400px; }

.updateModal .row {
  margin-left: 60px; }

.updateModal .code {
  font-size: 12px;
  color: #9F9F9F;
  text-align: left; }
  .updateModal .code select {
    font-size: 14px;
    color: black;
    border: none;
    border-bottom: solid 2px #4CAF50;
    background-color: transparent; }

.ticketSelectModal .body {
  margin-left: 20px; }
  .ticketSelectModal .body .addProject {
    font-size: 12px;
    margin: -20px 0px 20px 0px; }
    .ticketSelectModal .body .addProject input {
      width: 200px; }
  .ticketSelectModal .body .project {
    padding-bottom: 20px; }
    .ticketSelectModal .body .project h4 {
      display: inline-block; }
    .ticketSelectModal .body .project .projectId {
      font-size: 12px;
      padding-left: 5px;
      color: #B2B2B2; }
    .ticketSelectModal .body .project .projectDeleteBtn {
      font-size: 17px;
      padding-left: 10px;
      cursor: pointer; }
    .ticketSelectModal .body .project .ticket {
      display: inline-block; }
      .ticketSelectModal .body .project .ticket label {
        padding: 0px 15px 0px 25px; }

.zenTask {
  text-align: center;
  margin-top: 150px;
  font-size: 90px; }
  .zenTask .title {
    color: gray;
    letter-spacing: 5px; }
  .zenTask .time {
    color: orange;
    letter-spacing: 10px; }

.fade-transition {
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
  overflow: hidden; }

.fade-enter, .fade-leave {
  opacity: 0; }
