.brand-logo {
  padding-left: 20px; }

.headNav li {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 20px; }
  .headNav li i {
    padding: 0px 9px; }

.serachNav {
  width: 30%; }

body {
  background-color: #F4F4F4;
  -webkit-transition-property: all;
          transition-property: all;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out; }

main {
  margin: 20px; }

.card .card-content {
  width: 100%; }
  .card .card-content:hover {
    background-color: #F2FFF6; }
  .card .card-content .card-title {
    margin: 0px;
    color: gray;
    border-bottom: solid 1px #009587;
    font-size: 18px; }
  .card .card-content .card-time {
    color: gray;
    font-size: 18px;
    padding: 10px 0px; }
    .card .card-content .card-time i {
      vertical-align: top;
      font-size: 24px;
      padding: 0px 5px 0px 0px; }
  .card .card-content .card-footer {
    color: #B2DFDB;
    font-size: 11px;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex; }
    .card .card-content .card-footer input {
      height: 20px;
      margin: 0px;
      width: 20%;
      text-align: center; }
  .card .card-content .deleteBtn {
    margin: -15px 0px;
    font-size: 17px;
    color: #B2DFDB; }

.sashWrap {
  position: absolute;
  overflow: hidden;
  top: 0px;
  left: 0px;
  width: 150px;
  height: 80px; }

.sash {
  position: absolute;
  z-index: 5;
  top: px;
  left: -50px;
  width: 150px;
  padding: 0px 0px 0px 57px;
  letter-spacing: 3px;
  background: coral;
  color: white;
  font-size: 12px;
  font-weight: bold;
  -webkit-transform: rotate(-26deg);
      -ms-transform: rotate(-26deg);
          transform: rotate(-26deg); }

.card .card-content.active {
  color: coral;
  background-color: #E5FFE6; }
  .card .card-content.active .card-time {
    color: coral;
    letter-spacing: 10px;
    -webkit-transition-property: all;
            transition-property: all;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out; }
