$textColorLight: #B2DFDB;
$themeColorLight: #009587;

#toast {
  text-align: center;
  height: 40px;
  background-color: #8CACAA;
  line-height: 3;
  color: white;
  opacity: 0.8;
}

.brand-logo {
  margin-left: 20px;
  position: relative;;
  span {
    position: absolute;
    top: 4px;
    left: 60px;
  }
}
.headNav {
  li {
    display: inline-flex;
    padding: 0px 20px;
    &:hover   {
      letter-spacing: 1px;
    }
    i {
      padding: 0px 9px;
    }
  }
  .contact {
    i {
      float: left;
    }
    a {
      padding: 0px;
    }
  }
}
.search{
  margin: 10px;
  display: inline-block;
  width: 30%;
  position: relative;
  label {
    position: absolute;
    top: 10px;
  }
  input {
    padding-left: 30px;
  }
}
.addBtn {
  margin-left: 30px;
}
body {
	background-color: #F4F4F4;
	transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
}
main {
  margin: 20px;
}

.task.col {
  padding: 0px 5px;
}
.task {
 .card {
    min-width: 250px;
    margin: 8px;
    width: 100%;

    &:hover {
      background-color: #F2FFF6;
    }
    .card-header {
      margin: -15px 0px;
      .card-id {
        color: #8CACAA;
      }
      .deleteBtn {
    		color: $textColorLight;
      }
    }
  	.card-title {
      font-weight: bold;
      padding-top: 12px;
      margin: 0px;
      color: gray;
      font-size: 18px;
  	}
  	.card-time {
      color: gray;
  		font-size: 18px;
  		i {
  			vertical-align: top;
  			font-size: 24px;
  			padding: 0px 5px 0px 0px;
  		}
  	}
    .card-comment {
      color: gray;
      height: 45px;
      position: relative;
      i {
        position: absolute;
        font-size: 19px;
        font-weight: bold;
        top: 4px;
        left: 2px;
      }
      input {
        width: 80%;
        position: absolute;
        top: -6px;
        left: 30px;
      }
    }
  	.card-footer {
  		color: $textColorLight;
      font-size: 11px;
      input {
        height: 20px;
        margin: 0px;
        width: 20%;
        text-align: center;
      }
      p {
        text-align: right;
      }
  	}
  }
}

.sashWrap {
	position: absolute;
	overflow: hidden;
	top: 0px;
	left: 0px;
	width: 150px;
	height: 80px;
}
.sash {
	position: absolute;
	z-index: 5;
	top: 0px;
	left: -50px;
	width: 150px;
	padding: 0px 0px 0px 57px;
	letter-spacing: 3px;
	background: coral;
	color: white;
	font-size: 12px;
	font-weight: bold;
	transform: rotate(-26deg);
}

.task .card.active {
  color: coral;
  background-color: #E5FFE6;
  .card-time {
    color: coral;
    letter-spacing: 10px;
	  transition-property: all;
  	transition-duration: 0.3s;
  	transition-timing-function: ease-out;
  }
}
.modal {
  h4 {
    font-size: 20px;
    color: gray;
    margin: 0px;
  }
}
.updateModal {
  .row {
    margin-left: 60px;
  }
  .code {
    font-size: 12px;
    color: #9F9F9F;
    text-align: left;
    select {
      font-size: 14px;
      color: black;
      border: none;
      border-bottom: solid 2px #4CAF50;
      background-color: transparent;
    }
  }
}


.zenTask {
  text-align: center;
  margin-top: 150px;
  font-size: 90px;
  .title {
    color: gray;
    letter-spacing: 5px;
  }
  .time {
    color: orange;
    letter-spacing: 10px;
  }
}

//VUE アニーション定義
.fade-transition {
    transition: all .3s ease;
    overflow: hidden;
}
.fade-enter, .fade-leave {
    opacity: 0;
}
