//card-contentのpadding調整
.card .card-content {
    padding: 10px;
    border-radius: 0 0 2px 2px;
}

$textColorLight: #B2DFDB;
$themeColorLight: #009587;

body {
	background-color: #363F45;
}
main {
  margin: 20px;
}

.card .card-content {
	.card-title {
		border-bottom: solid 2px $themeColorLight;
	}
	.card-time {
		font-size: 25px;
		padding: 10px 0px;
		i {
			vertical-align: top;
			font-size: 35px;
			padding: 0px 10px 0px 0px;
		}
	}
	.card-footer {
		color: $textColorLight;
	}
	.deleteBtn {
		margin: -15px -3px;
		font-size: 25px;
		color: $textColorLight;
	}
  .activeIcon {
    width: 50px;
    background-color: #FF6B3E;
    color: white;
    text-align: center;
  }
}
