<!DOCTYPE html>
<html lang="ja">
<head>
	<link rel="stylesheet" href="css/materialize.css" media="screen,projection">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel='stylesheet' href='css/lib/animations.css'>
	<link rel='stylesheet' href='css/ZenTask.css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <meta charset="UTF-8">
</head>
<body id="app">
  <header>
  <nav class="teal">
    <div class="nav-wrapper">
      <div class="brand-logo">
				<img src="img/logo_white.png" width="60">
				<span>enTask</span>
			</div>
      <ul class="headNav right hide-on-med-and-down">
				<li class="modal-trigger waves-effect waves-light" href="#resetModal"><i class="material-icons small">schedule</i>Reset Time</li>
				<li class="modal-trigger waves-effect waves-light" href="#findProjectTicket"><i class="fa fa-check"></i>Redmineチケット取得</li>
				<li class="modal-trigger waves-effect waves-light" href="#registRedmineWorktime"><i class="fa fa-check"></i>Redmine工数登録</li>
        <li class="waves-effect waves-light dropdown-button" data-activates="modeMenu"><i class="fa fa-list"></i>Mode</li>
        <li style="background-color: gray" class="waves-effect waves-light"><i class="fa fa-lightbulb-o"></i>How To</li>
        <li style="background-color: gray" class="waves-effect waves-light"><i class="fa fa-question"></i>FAQ</li>
        <li class="contact waves-effect waves-light"><a href="mailto:kanai.leek08@gmail.com?subject=[ZenTask]Contact"><i class="material-icons">email</i>Contact</a></li>
        <ul id="modeMenu" class="dropdown-content">
          <li class="waves-effect waves" v-on="click: changeMode(1)"><a href="#!">Card</a></li>
          <li class="waves-effect waves" style='background-color: #B0B0B0'><a href="#!">Table</a></li>
          <li class="waves-effect waves" v-on="click: changeMode(3)"><a href="#!">Zen</a></li>
        </ul>
      </ul>
    </div>
  </nav>
  </header>
  <main>
		<section class="ctrlSection">
			<p class="addBtn btn-floating btn waves-effect waves-light orange" v-on="click: addTask()"><i class="material-icons">add</i></p>
			<div class="search">
				<input id="search" type="search" required name="query" v-model="filterKey" v-on="keyup: watchCardDisp()">
				<label for="search"><i class="material-icons">search</i></label>
			</div>
		</section>
		<section class="cardSection">
		  <div class="row animatedParent animateOnce" data-sequence="20">
		    <div class="col task" v-repeat="task:tasks | filterBy filterKey" v-transition="fade" stagger="10">
		      <div class="card waves-effect waves hoverable z-depth-1 animated flipInY " v-class="active: task.isActive" data-id="{{$index}}">
            <div class="sashWrap" style='display:none'>
              <p class="sash">Active</p>
            </div>
		        <div class="card-content">
							<p class="card-header">
								<span class="card-id">No.{{task.id}}</span>
			          <span class="modal-trigger deleteBtn right waves-effect waves-light" href="#deleteModal{{$index}}"><i class="fa fa-times-circle"></i></span>
							</p>
		          <p class="card-title"><span>{{task.title}}</span></p>
		          <p class="card-time" v-on="click: toggleTime(this, $index)"><i class="material-icons small">schedule</i><span>{{task.time}}</span></p>
							<div class="card-comment">
								<i class="fa fa-comment-o prefix"></i>
								<input class="edit validate" v-model="task.comment" placeholder="コメント" type="text"></input>
							</div>
		          <div class="modal-trigger right card-footer" href="#updateModal{{$index}}">
		            <p><span class="card-costCode">{{task.code}}</span></p>
		            <p><span class="card-projectName">{{task.projectName}}</span> #<span class="card-ticketId">{{task.ticketId}}</span>
		          </div>
		        </div>
		      </div>
					<div id="updateModal{{$index}}" class="updateModal modal">
						<div class="modal-content center">
							<h4>詳細情報</h4>
							<div class="center">
								<div class="row">
								  <div class="input-field col s10">
										 <input placeholder="" id="title{{$index}}" v-model="task.title" type="text" class="validate">
										 <label for="title{{$index}}">Title</label>
									 </div>
								</div>
								<div class="row code">
								  <div class="input-field col s10">
										<span>Cost Code</span>
										<select class="browser-default" v-model="task.code" options="costCodeList"></select>
									</div>
								</div>
								<div class="row">
								  <div class="input-field col s10">
										 <input placeholder="" id="time{{$index}}" v-model="task.time" type="text" class="validate">
										 <label for="time{{$index}}">Time</label>
									 </div>
								</div>
								<div class="row">
								  <div class="input-field col s10">
										 <input placeholder="" id="comment{{$index}}" v-model="task.comment" type="text" class="validate">
										 <label for="comment{{$index}}">Comment</label>
									 </div>
								</div>
								<p class="btn modal-action modal-close waves-effect waves-green">Close</p>
							</div>
						</div>
					</div>
          <div id="deleteModal{{$index}}" class="modal">
            <div class="modal-content center">
              <h4>このタスクを削除してもよろしいですか？</h4>
            </div>
            <div class="center">
              <p class="btn modal-action modal-close waves-effect waves-green" v-on="click: deleteTask($index)">OK</p>
              <p class="btn modal-action modal-close waves-effect waves-green">キャンセル</p>
            </div>
          </div>
		    </div>
		  </div>
		</section>


		<section class="zenSection" style='display: none'>
			<div class="col task" v-repeat="task:tasks">
				<div v-cloak class="zenTask" v-if="task.isActive">
					<div class="title">{{task.title}}</div>
					<div class="time">{{task.time}}</div>
				</div>
			</div>
		</section>

		<section class="container" style='display: none;'>
		  <table class="responsive-table teal darken-1 white-text">
		    <thead>
		      <tr>
		        <th>プロジェクト名</th>
		        <th>コストコード</th>
		        <th>作業者名</th>
		        <th>チケットID</th>
		        <th>タイトル</th>
		        <th>作業時間</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		        <td><span>Sample Project</span></td>
		        <td><span>201</span></td>
		        <td><span>d_kanai</span></td>
		        <td><span>002002</span></td>
		        <td><span>Materialize CSS 学習</span></td>
		        <td><span>02:30:30</span></td>
		      </tr>
		    </tbody>
		  </table>
		</section>
  </main>

	<section class='modalSection'>
		<div id="resetModal" class="modal">
			<div class="modal-content center">
				<h4>作業工数をリセットしてもよろしいですか？</h4>
			</div>
			<div class="center">
				<p class="btn modal-action modal-close waves-effect waves-green" v-on="click: resetTime()">OK</p>
				<p class="btn modal-action modal-close waves-effect waves-green">キャンセル</p>
			</div>
		</div>
		<div id="howToModal" class="modal">
			<div class="modal-content center">
				<h4>作業工数をリセットしてもよろしいですか？</h4>
			</div>
			<div class="center">
			</div>
		</div>
		<div id="registRedmineWorktime" class="modal">
			<div class="modal-content center">
				<h4>Redmineに今日の工数として登録しますか？</h4>
			</div>
			<div class="center">
				<p class="btn modal-action modal-close waves-effect waves-green" v-on="click: registRedmineWorktime()">OK</p>
				<p class="btn modal-action modal-close waves-effect waves-green">キャンセル</p>
				<a id='csvFile'></a>
			</div>
		</div>
		<div id="findProjectTicket" class="modal">
			<div class="modal-content center">
      	<h4>Redmineチケット選択</h4>
      </div>
      <div class="search">
      	<input type="text" v-model="projectId" placeholder="RedmineのプロジェクトID" required>
      </div>
      <p class="addBtn btn waves-effect waves-light" v-on="click: findProjectTicket()"><i class="material-icons">add</i>プロジェクトを追加</p>
   		<div class="col" v-repeat="project: projectList">
				{{project.$key}}
        <h4>{{project.id}} {{project.name}}</h2>
				<div>
	        <div class="col" v-repeat="ticket: project.ticketList">
	        	<p>
	          	<input type="checkbox" class="filled-in" id="check{{ticket.id}}" name="ticket" data-ticketid="{{ticket.id}}" data-title="{{ticket.name}}" data-projectname={{project.name}}>
	            <label for="check{{ticket.id}}">{{ticket.name}}</label>
	          </p>
	        </div>
				</div>
      </div>
      <div class="center">
      	<p class="btn modal-action modal-close waves-effect waves-green" v-on="click: addTicket()">追加</p>
      </div>
  	</div>
	</section>

	<script src='https://code.jquery.com/jquery-2.1.4.min.js'></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
	<script src='http://cdnjs.cloudflare.com/ajax/libs/vue/0.12.8/vue.min.js'></script>
	<script src='js/lib/css3-animate-it.js'></script>
	<script type='text/javascript' src='js/KMJS.js'></script>
	<script type='text/javascript' src='js/ZenTask.js'></script>
</body>
</html>
